.hero {
    height: 100vh;
    height: 100svh;
    min-height: 100svh;

    background: url("../assets/images/img.jpg");

    background-position: center 19%;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
    top: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;

}

.hero-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
}

.hero-content {
    position: relative;
    z-index: 2;
    max-width: 900px;
    padding: 0 20px;
}

.hero h1 {
    font-size: 6.4rem;
    text-transform: uppercase;
    margin-bottom: 16px;
    font-weight: 700;
    font-family: "Audiowide", sans-serif;
    color: white;

    text-shadow: 2px 2px 8px rgba(255, 255, 225, 0.5);
}

.tagline {
    font-size: 2.1rem;
    /* color: #a70000; */
    color: #f0f8ff;
    text-shadow: 0 0 16px rgba(255, 255, 225);

    margin-bottom: 12px;
    font-weight: 800;

}

.sub-tagline {
    font-size: 1.4rem;
    margin-bottom: 40px;
    opacity: 0.95;
    font-weight: 600;
}

.hero-buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.hero-buttons .btn {
    display: inline-block;
    padding: 14px 32px;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    border-radius: 8px;
    transition: all 0.3s;
}

.btn.primary {
    background: var(--maroon);
    color: white;
}

.btn.primary:hover {
    background: #a70101;
    transform: translateY(-2px);
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
}

.btn.secondary {
    background: white;
    color: #a70101;
    border: 2px solid #a70101;
}

.btn.secondary:hover {
    background: #fff8f5;
    transform: translateY(-2px);
}


.highlights-section {
    padding: 80px 20px;
    background: #f0f8ff;
    text-align: center;
}

.highlights-section .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.highlight-heading h2 {
    font-size: 3.2rem;
    color: #a70000;
    margin-bottom: 16px;
}

.highlight-heading {
    display: flex;
    flex-direction: column;
}

.subtitle {
    font-size: 1.3rem;
    color: #555;
    max-width: 800px;
    margin: 0 auto 40px;
}

.features-grid {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
    width: 100%;
    margin: 0 auto;
}

.features-grid .feature-card {
    background: white;
    padding: 32px 24px;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease;
    width: 30rem;

    /* border: 2px solid pink; */
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.feature-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}

.feature-card .icon img {
    width: 100%;
    margin-bottom: 2rem;
    border-radius: 8px;
}

.feature-card h3 {
    font-size: 2.2rem;
    color: #a70101;
    margin-bottom: 12px;
}

.feature-card p {
    color: #444;
    line-height: 1.2;
    font-size: 1.4rem;
}

.more-btn {
    display: inline-block;
    margin-top: 40px;
    background: #a70000;
    color: white;
    padding: 14px 36px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.5rem;
}

.highlights-section a {
    font-size: 1.4rem;
}

.more-btn:hover {
    background: #a71212;
}


@media (max-width: 768px) {
    .hero {
        background-position: 20%;
    }

    .hero h1 {
        font-size: 4.5rem;
    }

    .tagline {
        font-size: 1.8rem;
    }

    .sub-tagline {
        font-size: 1.4rem;
    }

    .feature-card .icon img {
        width: 100%;
    }
}